.header {
    display: flex;
    background-color: var(--gray-700);
    width: 1440px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: var(--blue);
    font-size: 40px;
}

.input-task {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 8px
}

.input-task input {
    background-color: var(--gray-500);
    width: 606px;
    border: 1px solid var(--Gray-700);
    border-radius: 8px;
    padding: 16px;
    color: var(--gray-100);
}

.input-task button {
    background-color: var(--blue-dark);
    width: 90px;
    height: 52px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: var(--gray-100);
    text-align: center;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 736px;
    margin: auto;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

#sub-text-tech {
    color: var(--blue);
    font-size: var(--font-size-sm);
}

#sub-text-done {
    color: var(--purple);
    font-size: var(--font-size-sm);
}

.counter {
    background-color: var(--gray-400);
    color: var(--gray-100);
    border-radius: 99px;
    width: 25px;
    height: 19px;
    padding: 2px 8px;
}

.task {
    display: flex;
    background-color: var(--gray-500);
    height: 72px;
    padding: 16px;
    justify-content: space-between;
    border-radius: 8px;
    gap: 12px;
    color: var(--gray-100);
    font-size: var(--font-size-sm);
}

.task button {
    background-color: var(--gray-600);
    width: 17px;
    height: 17px;
    padding: 7px;
    border: 2px solid var(--blue);
    border-radius: 100%;
}

.task button:hover {
    background-color: var(--blue-dark);
}

.task p {
    word-wrap: break-word;
    overflow-x:auto;
}