.card {
    display: flex;
    background-color: var(--gray-500);
    height: 72px;
    padding: 16px;
    justify-content: space-between;
    border-radius: 8px;
    gap: 12px;
    color: var(--gray-100);
    font-size: var(--font-size-md);
}

.card input {
    background-color: var(--gray-600);
    width: 17px;
    height: 17px;
    padding: 7px;
    border: 2px solid var(--blue);
    border-radius: 100%;
    appearance: none;
}

.card input:checked {
    background-color: var(--purple-dark);
    background-image: url("/checkMark.svg");
    background-size: cover;
    border-color: var(--purple-dark);
}

.card input:hover {
    background-color: var(--blue-dark);
}

.card p {
    word-wrap: break-word;
    overflow-x:auto;
}

.checked {
    text-decoration: line-through;
    color: var(--gray-300)
}